/*
*
*   BUTTON
*
*/
button {
    --button--text-color: var(--color-bg--contrast, inherit);
    --stroke: var(--button--tex-color);
    --button--padding: 8px;
    --button--bg: var(--color-bg);
    --button--hover--bg: var(--color-bg--shade-2);
    --button--active--bg: var(--color-bg--shade-3);

    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    border-radius: var(--button--border-radius);
    position: relative;
    background: transparent;
    color: var(--button--text-color);
    z-index: 1;
    
    border: none;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;
}
button.btn {
    background-position: center;
    transition: background 0.5s;
    padding: var(--button--padding);
    white-space: nowrap;
}
button.btn:hover:not(:disabled) {
    background: var(--button--hover--bg) radial-gradient(circle, transparent 1%, var(--button--hover--bg) 1%) center/15000%;
}
button.btn:active:not(:disabled) {
    background-color: var(--button--active--bg);
    background-size: 100%;
    transition: background 0s;
}

/*
For buttons with icon following text
*/
button>*:not(:first-child) {
    margin-left: var(--padding-xs);
}
/* ICON BUTTON */
button.btn--icon, .btn--icon {
    position: relative;
    height: var(--button-radius, 2em);
    width: var(--button-radius, 2em);
    --button--border-radius: 50%;
}

.btn--icon>i, .btn--icon>span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.309em;
}
/* DISABLED BUTTON */
button:disabled {
    cursor: initial;
    color: var(--color-bg--shade-2);
}
button:disabled svg {
    stroke: var(--color-bg--shade-2);
}
/* FLOATING ACTION BUTTON */
button.btn--fab {
    --button-radius: 4rem;
    font-size: 2rem;
    height: var(--button-radius, 4rem);
    width: var(--button-radius, 4rem);
    --button--border-radius: 50%;
    position: relative;
    --button-bg: var(--color-primary);
    --button--hover--bg: var(--color-primary--light-1);
    --button--active--bg: var(--color-primary--light-2);
    background: var(--button-bg);
    --button--text-color: var(--color-primary--contrast);
}
.btn--fab::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    mix-blend-mode: lighten;
    border-radius: var(--button--border-radius);
}
/* BUTTON PRIMARY */
.btn--primary {
    --button--text-color: var(--color-primary--contrast, inherit);
    --button--bg: var(--color-primary);
    --button--hover--bg: var(--color-primary--shade-2);
    --button--active--bg: var(--color-primary--shade-3);
    background: var(--button--bg);
}