
input[type="text"], input[type="password"], input[type="number"], input[type="date"], textarea {
    line-height: 1;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    width: 100%;
    padding: var(--input--padding);
    background: inherit;
    color: inherit;
    border: none;
    border-radius: var(--input--border-radius);
    text-align: inherit;
    font-size: inherit
}

.input-text {
    border-radius: var(--input--border-radius);
    display: flex;
    flex-direction: column;
}

.input-text[error], .input-text.input-text--focused[error] {
    --input--border-color: red;
    --input--focus--label--text-color: red;
}
.input-text[success], .input-text.input-text--focused[success] {
    --input--border-color: green;
    --input--focus--label--text-color: green;
}


.input-text[small] {
    max-width: 16em;
}
.input-text[medium] {
    max-width: 32em;
}
.input-text[large] {
    max-width: 48em;
}
.input-text.input-text--focused {
    --input--bg-color: var(--input--focus--bg-color);
    --input--text-color: var(--input--focus--text-color);
    --input--border-color: var(--input--focus--border-color);
    --input--border-style: solid;
}

.input-text__label {
    padding-bottom: var(--padding-xs);
    margin-top: var(--padding-m);
    color: var(--input--text-color);
}

.input-text--focused .input-text__label, .input-file--focused .input-text__label {
    color: var(--input--focus--label--text-color);
}

.input-text__wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-grow: 1;
}
.input-text__wrapper {
    border-radius: var(--input--border-radius);
    border-color: var(--input--border-color, var(--input--bg-color), transparent);
    border-style: var(--input--border-style, solid);
    border-width: var(--input--border-size, 1px);
    border-radius: var(--input--border-radius);
    background: var(--input--bg-color);
    color: var(--input--text-color);
}

.input-text__prepend, .input-text__append {
    padding-left: var(--input--padding);
    display: flex;
    align-items: center;
}
.input-text__append {
    padding-right: var(--input--padding);
}
.input-text__prepend+input {
    padding-left: var(--padding-xs);
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-text input[type="text"]:-internal-autofill-selected {
    color: var(--input--text-color);
    background: var(--input-text--background-color);
}
.input-text input[type="text"]::placeholder, .input-text input[type="number"]::placeholder {
    color: var(--input--text-color);
    opacity: var(--transparency-2, 0.5);
}
.input-text textarea {
    resize: vertical;
}
.input-text textarea::-webkit-scrollbar {
    display: none;
    opacity: 0;
    width: 0px;
}
.input-text__clear {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: var(--padding-xs);
    --button-radius: 2em;
}

.input-text--select {
    cursor: initial;
}
.input-file {
    display: flex;
    flex-direction: column;
}
.input-file__wrapper:focus {
    outline: none;
}