@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://unicons.iconscout.com/release/v0.0.4/css/unicons.css');
@import './Vars.css';
@import './Button.css';
@import './Transitions.css';
@import './Input.css';
@import './Card.css';
@import './Skeleton.css';

body {
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
}
a:hover {
    --color-text: var(--color-primary);
    --stroke: var(--color-text);
    color: var(--color-text);
}
svg {
    stroke: var(--stroke, --color-bg--contrast, black);
}
*{
    box-sizing: border-box;
}
.no-break {
    white-space: nowrap;
}
img.responsive {
    width: 100%;
    height: auto;
    margin:auto;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: var(--padding-s);
}