
input[type="text"], input[type="password"], input[type="number"], input[type="date"], textarea {
    line-height: 1;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    width: 100%;
    padding: var(--input--padding);
    background: inherit;
    color: inherit;
    border: none;
    border-radius: var(--input--border-radius);
    text-align: inherit;
    font-size: inherit
}

.input-text {
    border-radius: var(--input--border-radius);
    display: flex;
    flex-direction: column;
}

.input-text[error], .input-text.input-text--focused[error] {
    --input--border-color: red;
    --input--focus--label--text-color: red;
}
.input-text[success], .input-text.input-text--focused[success] {
    --input--border-color: green;
    --input--focus--label--text-color: green;
}


.input-text[small] {
    max-width: 16em;
}
.input-text[medium] {
    max-width: 32em;
}
.input-text[large] {
    max-width: 48em;
}
.input-text.input-text--focused {
    --input--bg-color: var(--input--focus--bg-color);
    --input--text-color: var(--input--focus--text-color);
    --input--border-color: var(--input--focus--border-color);
    --input--border-style: solid;
}

.input-text__label {
    padding-bottom: var(--padding-xs);
    margin-top: var(--padding-m);
    color: var(--input--text-color);
}

.input-text--focused .input-text__label, .input-file--focused .input-text__label {
    color: var(--input--focus--label--text-color);
}

.input-text__wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-grow: 1;
}
.input-text__wrapper {
    border-radius: var(--input--border-radius);
    border-color: var(--input--border-color, var(--input--bg-color), transparent);
    border-style: var(--input--border-style, solid);
    border-width: var(--input--border-size, 1px);
    border-radius: var(--input--border-radius);
    background: var(--input--bg-color);
    color: var(--input--text-color);
}

.input-text__prepend, .input-text__append {
    padding-left: var(--input--padding);
    display: flex;
    align-items: center;
}
.input-text__append {
    padding-right: var(--input--padding);
}
.input-text__prepend+input {
    padding-left: var(--padding-xs);
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-text input[type="text"]:-internal-autofill-selected {
    color: var(--input--text-color);
    background: var(--input-text--background-color);
}
.input-text input[type="text"]::placeholder, .input-text input[type="number"]::placeholder {
    color: var(--input--text-color);
    opacity: var(--transparency-2, 0.5);
}
.input-text textarea {
    resize: vertical;
}
.input-text textarea::-webkit-scrollbar {
    display: none;
    opacity: 0;
    width: 0px;
}
.input-text__clear {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: var(--padding-xs);
    --button-radius: 2em;
}

.input-text--select {
    cursor: initial;
}
.input-file {
    display: flex;
    flex-direction: column;
}
.input-file__wrapper:focus {
    outline: none;
}





/*TOGGLE*/


.toggle {
    --toggle-size-unit: 1em;
    --toggle-slider-border-width: 0px;
    --toggle-slider-boder-color: rgba(0,0,0,0.4);
    --toggle-height: calc(var(--toggle-size-unit) * 2);
    --toggle-width: calc(var(--toggle-size-unit) * 4);
    --toggle-background-color: var(--color-gray-2);
    position: relative;
    display: block;
    height: var(--toggle-height);
    width: var(--toggle-width);
  }
  .toggle input {
    display: none;
  }
  .toggle__slider {
    --toggle-slider-padding: 4px;
    --toggle-slider-size: calc( ( var(--toggle-size-unit) * 2) - ( var(--toggle-slider-padding) * 2) );
    --toggle-slider-left: calc( var(--toggle-slider-padding) - var(--toggle-slider-border-width) );
    --toggle-slider-top: calc( var(--toggle-slider-padding) - var(--toggle-slider-border-width) );
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--toggle-background-color);
    border: var(--toggle-slider-border-width) solid var(--toggle-slider-boder-color);
    transition: .5s;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
    border-radius: var(--toggle-size-unit);
  }
  .dark .toggle, .toggle.dark {
    --toggle-background-color: var(--background-color);
    --toggle-slider-border-width: 2px;
    --toggle-slider-boder-color: var(--text-color);
    box-shadow: none;
  }
  .toggle input:checked + .toggle__slider {
    background: var(--color-primary);
    --toggle-slider-left: calc( 100% - ( var(--toggle-slider-size) + var(--toggle-slider-padding) - ( var(--toggle-slider-border-width) + var(--toggle-slider-padding) ) ) );
    --toggle-slider-left: calc( 50% + var(--toggle-slider-padding) );
  }
  .toggle__slider::before {
    position: absolute;
    content: "";
    width: var(--toggle-slider-size);
    height: var(--toggle-slider-size);
    border-radius: 50%;
    left: var(--toggle-slider-left);
    top: var(--toggle-slider-top);
    background: white;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
    will-change: left;
    transition: .5s;
  }
  .dark .toggle__slider::before {
    box-shadow: none;
  }